<%- include("partials/header"); -%>

  <h1><%=title%></h1>
  <p><%=content%></p>
  <form action="/delete" method="post">
    <button class="btn btn-primary btn-delete" type="submit">Delete Post</button>
  </form>

<%- include("partials/footer"); -%>
